/* font-family: 'Inter', sans-serif;
font-family: 'Outfit', sans-serif; */
/* font-family: 'Poppins', sans-serif; */
/* font-family: 'Public Sans', sans-serif; */

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.container {
  margin: 0 auto;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: red solid 2px; */
  padding-top: 46px;
}
header {
  height: 58px;
  display: flex;
  align-items: center;
  flex-direction: row;
  background: #F9F9F9;
  width: 1250px;
}
.logo {
  width: 53px;
  height: 53px;
  background-image: url("./images/Logo.svg");
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 58px;
}
nav {
  width: 445.46px;
  margin-right: 117px;
}
nav > ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 53.49px;
}
li {
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  text-transform: uppercase;
  text-decoration: none;
}
a {
  color: #606060;
}

.search-box {
  background: lightgray;
  border-radius: 20px;
  height: 57px;
  width: 348.45px;
  position: relative;
  outline: none;
}
.search-text {
  background: lightgray;
  border-radius: 20px;
  height: 57px;
  width: 348.45px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 18px;
  border: lightslategray;
}
.search-button {
  position: absolute;
  display: block;
  width: 22px;
  height: 22px;
  background: url('./images/loupe.png');
  top: 18px;
  left: 18px;
}
.call-back {
  margin-left: 30px;
  display: block;
  background: #141416;
  width: 199.52px;
  height: 57px;
  border-radius: 15px;
  text-align: center;
  padding-top: 16px;
  color: #FFFFFF;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 16.17px;
  line-height: 24.26px;
  text-transform: uppercase;
}

/* ++++++++++++++profile+++++++++++++++++ */
.profile {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 64px;
  padding-left: 58px;
  padding-right: 58px;
}
.profile__background {
  width: 1354px;
  margin-left: 33px;
  /* position: relative; */
}
.avatar {
  width: 165px;
  height: 165px;
  border-radius: 50%;
  border: 2px solid red;
}
.avatar__bg {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  background: #F9F9F9;
  border: 1px solid green;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -140px;
  left: -10px;
  /* position: relative; */
  /* top: -141px; */
  /* left: -470px; */
}

.data {
  display: flex;
  flex-direction: row;
}
.profile__data {
  display: flex;
  flex-direction: column;
  width: 363px;
  position: relative;
}
.name {
  border-bottom: #D0D0D0 solid 2px;
  height: 114px;
  margin-top: 57px;
}
.name-last {
  display: block;
  font-family: 'Outfit', sans-serif; 
  font-weight: 600;
  font-size: 35px;
  line-height: 45.5px;
}
.name-nik {
  display: block;
  font-family: 'Outfit', sans-serif; 
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
}
.biograph {
  display: flex;
  flex-direction: column;

}

.achievements {
  width: 673px;
  height: 890px;
  border: red 1px solid;
  margin-right: 0;
  margin-left: 50px;
}
.indicators {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 45px;
}
.indicators__item {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.indicators__item__number {
  display: block;
  font-family: 'Public Sans', sans-serif; 
  font-weight: 600;
  font-size: 32.15px;
  line-height: 40.19px;
  text-align: center;
}
.indicators__item__name {
  display: block;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 10.72px;
  line-height: 16.08px;
  text-align: center;
  color: #848586;
}
.biograph {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  padding-bottom: 10px;
  border-bottom: #D0D0D0 solid 2px;
}

.biograph__title {
  display: block;
  font-family: 'Public Sans', sans-serif; 
  font-weight: 700;
  font-size: 25px;
  line-height: 40.19px;
  text-align: center;
  color: #C5C5C5;
}
.biograph > p {
  font-family: 'Poppins', sans-serif; 
  font-weight: 400;
  font-size: 14px;
  line-height: 24.78px;
  text-align: center;
  color: #949494;
  text-align: start;
}
.socialnet {
  padding-top: 30px;
}
.socialnet ul {
  display: flex;
  gap: 66px;
}

