/* font-family: 'Inter', sans-serif;
font-family: 'Outfit', sans-serif; */
/* font-family: 'Poppins', sans-serif; */
/* font-family: 'Public Sans', sans-serif; */

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  width: max-content;
  display: inline-block;
  word-wrap: break-word;
}
a {
  text-decoration: none;
  width: max-content;
  display: inline-block;
  word-wrap: break-word;
}
form, button, a, input {
  cursor: pointer;
}
.container {
  margin: 0 auto;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 46px;
  background: #F9F9F9;
}
.header-wrapp {
  display: flex;
  width: 100%;
  margin: 0;
  padding:20px 90px;
}
header {
  display: flex;
  align-items: center;
  flex-direction: row;
  background: #F9F9F9; 
  flex-wrap: wrap;
  margin: auto;
  gap: 10px;
}
.logo {
  display: block;
  width: 53px;
  height: 53px;
  background-image: url("./images/Logo.svg");
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 58px;
}
nav {
  width: 445.46px;
  margin-right: 117px;
}
nav > ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 53.49px;
  margin: auto;
  /* flex-wrap: wrap; */
}
li {
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  text-transform: none;
  text-decoration: none;  
}
nav > ul > li {
  cursor: pointer;
}
nav > ul > li:hover, .call-back:hover {
  color: orange;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .3),
   -23px 0 20px -23px rgba(0, 0, 0, .8),
   23px 0 20px -23px rgba(0, 0, 0, .8),
   0 0 40px rgba(0, 0, 0, .1) inset; ;
}
.logo:hover {
  cursor: pointer;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .3),
   -23px 0 20px -23px rgba(0, 0, 0, .8),
   23px 0 20px -23px rgba(0, 0, 0, .8),
   0 0 40px rgba(0, 0, 0, .1) inset; ;
}
a {
  color: #606060;
  text-transform: none;
}

.search-box {
  background: lightgray;
  border-radius: 20px;
  height: 57px;
  width: 320px;
  position: relative;
  outline: none;
}
.search-text {
  background: lightgray;
  border-radius: 20px;
  height: 57px;
  width: 320px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 18px;
  border: lightslategray;
}
.search-button {
  position: absolute;
  display: block;
  width: 22px;
  height: 22px;
  background: url('./images/loupe.png');
  top: 18px;
  left: 18px;
}
.call-back {
  margin-left: 30px;
  display: block;
  background: #141416;
  width: 199.52px;
  height: 57px;
  border-radius: 15px;
  text-align: center;
  padding-top: 16px;
  color: #FFFFFF;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 16.17px;
  line-height: 24.26px;
  text-transform: uppercase;
  cursor: pointer;
}

/* ++++++++++++++profile+++++++++++++++++ */
.profile {
  width: 100%;
  min-height: 1599px;
  display: flex;
  flex-direction: column;
  padding-top: 64px;
  padding-bottom: 30px;
  background: #F9F9F9;
}
.profile__background {
  max-width: 1354px;
  margin-left: 60px;
}
.avatar {
  width: 165px;
  height: 165px;
  border-radius: 50%;
  
}
.avatar__bg {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  background: #F9F9F9;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -140px;
  left: -10px;
}

.data {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin: auto;
  gap: 80px;
}
.profile__data {
  display: flex;
  flex-direction: column;
  width: 363px;
  position: relative;
}
.name {
  border-bottom: #D0D0D0 solid 2px;
  height: 114px;
  margin-top: 57px;
}
.name-last {
  display: block;
  font-family: 'Outfit', sans-serif; 
  font-weight: 600;
  font-size: 35px;
  line-height: 45.5px;
}
.name-nik {
  display: block;
  font-family: 'Outfit', sans-serif; 
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
}
.biograph {
  display: flex;
  flex-direction: column;

}

.indicators {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 45px;
}
.indicators__item {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.indicators__item__number {
  display: block;
  font-family: 'Public Sans', sans-serif; 
  font-weight: 600;
  font-size: 32.15px;
  line-height: 40.19px;
  text-align: center;
}
.indicators__item__name {
  display: block;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 10.72px;
  line-height: 16.08px;
  text-align: center;
  color: #848586;
}
.biograph {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  padding-bottom: 10px;
  border-bottom: #D0D0D0 solid 2px;
}

.biograph__title {
  display: block;
  font-family: 'Public Sans', sans-serif; 
  font-weight: 700;
  font-size: 25px;
  line-height: 40.19px;
  text-align: center;
  color: #C5C5C5;
}
.biograph > p {
  font-family: 'Poppins', sans-serif; 
  font-weight: 400;
  font-size: 14px;
  line-height: 24.78px;
  text-align: center;
  color: #949494;
  text-align: start;
}
.socialnet {
  padding-top: 30px;
}
.socialnet ul {
  display: flex;
  gap: 66px;
}

/*+++++++++++++++++ achievements +++++++++++++++*/


.achievements {
  max-width: 673px;
  min-height: 890px;
  /* margin-right: 0;
  margin-left: 50px;
  margin-right: 20px; */
}
/* projects */
.projects {
  /* width: 100%; */
  display: none;
  flex-direction: column;
  /* margin: auto; */
  align-items: flex-start;
  
}
.achievements__title {
  display: block;
  max-width: 340px;
  min-height: 45px;
  font-family: 'Poppins', sans-serif; 
  font-weight: 700;
  font-size: 25px;
  color: #141416;
  text-align: center;
  vertical-align: middle;
  margin-left: 0;
  border-bottom: 2px solid;
  margin-bottom: 86px;
}
.show-project {
  background: #141416;
  width: 86px;
  height: 38px;
  font-family: 'Poppins', sans-serif; 
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  color: #FFFFFF;
  border-radius: 10px;

}
.projects__container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 28px;
  /* align-content: center; */
  margin: auto;
}
.projects__item {
  width: 204.36px;
  height: 292.43px;
  background: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  box-shadow: 28px 8px 43px 0px #C7C7C799;
}
.projects__item__bg {
  width: 184px;
  height: 184px;
  margin: 10px 0;
  border-radius: 20px;
}
.projects__item__title {
  display: block;
  font-family: 'Poppins', sans-serif; 
  font-weight: 600;
  font-size: 15.39px;
  line-height: 21.55px;
  margin-bottom: 20px;
}
.item-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}
.item__ratio {
  display: flex;
  flex-direction: column;
}
.item__star {
  width: 20px;
}
.item__point {
  display: block;
  font-family: 'Poppins', sans-serif; 
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #141416;
}
/* .skills */
.skills {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.skills ul {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.skills ul > li {
  font-family: 'Outfit', sans-serif; 
  font-weight: 600;
  font-size: 45px;
  line-height: 45.5px;
}

/* education */
.education {
  display: none;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.education ul{
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 30%;
}
.education ul > li{
 font-family: 'Outfit', sans-serif; 
  font-weight: 600;
  font-size: 20px;
  line-height: 60px;
  width: 100%;
}
/* foreign */
.foreign {
  display: none;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.foreign ul{
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 30%;
}
.foreign ul > li{
 font-family: 'Outfit', sans-serif; 
  font-weight: 600;
  font-size: 20px;
  line-height: 60px;
}

/*+++++++++++++++++ achievements +++++++++++++++*/

/* footer */
footer {
  width: 100%;
  background: #141416;
  padding: 0 103px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.footer__stage1 {
  height: 182px;
  width: 100%;
  /* padding: ; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* gap: 550px; */
  padding-top: 60px;
  padding-right: 103px;
  margin: auto;
}
.logo-footer {
  display: block;
  width: 65px;
  height: 70px;
}
.logo-footer:hover {
  cursor: pointer;
 box-shadow: 0 1px 4px rgba(0, 0, 0, .3),
   -23px 0 20px -23px rgba(0, 0, 0, .8),
   23px 0 20px -23px rgba(0, 0, 0, .8),
   0 0 40px rgba(248, 247, 247, 0.1) inset; ;
}

.footer__stage1 > ul {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  gap: 30px;
  max-width: 452.35px;
}
.footer__stage1 > li, .footer__stage1 > a {
  font-style: 17.83px;
  width: max-content;
  display: inline-block;
  word-wrap: break-word;
  text-transform: capitalize;
  color: #B9B9B9;
}
.footer__stage1 > ul > li > a:hover {
  cursor: pointer;
  color: orange;
}
.footer__line-wrapp {
  width: 100%;

}
.footer__line {
  height: 2px;
  background: #818181;
  margin: auto;
}
.footer__stage2 {
  height: 162px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 28px;
  margin: auto;
}
.footer__stage2 span {
  font-family: 'Inter', sans-serif;
  font-size: 17px;
  font-weight: 500;
  line-height: 25px;
  color: #999999;
}
.footer__stage2 ul {
  display: flex;
  width: 235px;
  align-items: center;
  justify-content: space-between;
}



/* footer */

/* ++++++++++++++modal-window */
.modal-window {
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);

}
.modal-content {
  height: 400px;
  width: 250px;
  background: #fff;
  padding: 80px 20px;
  border-radius: 20px;
  position: relative;
}
.modal-form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.modal-form__item {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.modal-form__item label {
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  font-size: 18px;
}
.modal-form__item input {
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  font-size: 18px;
  height: 30px;
  color: #606060;
}
.modal-form__item button {
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  font-size: 18px;
  color: #fff;
  background: #141416;
  border-radius: 10px;
  margin-top: 20px;
}
.modal-content img {
  width: 20px;
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 25px;
}
.thanks {
  display: none;
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  font-size: 20px;
  color: #141416;
  
}
.thanks > .modal-content {
  display: flex;
  align-items: center;
  justify-content: center;
}
.thanks > .modal-content span {
 display: block;
}
.thanks > .modal-content .btn-close {
 
}
/* -------------modal-window */





@media only screen and (max-width: 900px) {
  .logo{
    display: none;
    /* visibility: hidden; */
  }
  .profile {
    background: red;
  }
  
}
@media only screen and (max-width: 820px) {
  .profile__background {
    display: none;
  }
  .logo-footer {
    display: none;
  } 
  .profile {
    background: green;
  }
  .data {
    flex-direction: column;
  }
  .avatar__bg {
    top: 0;
    left: 365px;
  }
  .biograph > p {
    height: 100px;
    overflow: hidden;
  }
  
}
@media only screen and (max-width: 752px) {

 .header-wrapp {
  padding: 10px 20px;
 }
  .profile {
    background: lightblue;
  }
  .profile__data {
    margin-top: 100px;
  }
  .data {
    flex-direction: column;
    margin-left: 100px;
  }
  .avatar__bg {
    top: -140px;
    left: 50%;
  }
  .biograph__title {
    display: none;
  }
  .biograph > p {
    display: none;
  }

  .search-box {
  width: 200px;
  }
  .search-text {
    width: 200px;
    font-size: 0;
  }
  
}
@media only screen and (max-width: 600px) {
  nav > ul, .footer__stage1 > ul {
    flex-wrap: wrap;
  }
  .socialnet {
    display: none;
  }
  .projects__item{
    height: max-content;
  }
  .projects__item > img{
    display: none;
  }
  .footer__stage1 {
    margin-bottom: 20px;
  }
}